.container{
  display:flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100%;
}

.backdrop{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #00000087;
}

.modal{
  width: 35rem;
  max-width: 90%;
  margin: 3rem auto;
  z-index: 2;
  padding:0;
  text-align: start;
}

.header{
  background-color: #610061;
  border-radius: 4px 4px 0 0;
  color: white;
  padding: 0.5rem 1rem;    
  font-size: 1.4rem;
  font-weight: 700;
}

.body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 1rem 0.5rem 1rem;
  min-height: 14vh;
}

.message{
  font-weight: 600;
}

.actions{
  text-align: end;
}